<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONICONDIRECTORY">
            <Component Id="cmpDD0653087BA241FC3212F1B699DC51BC" Guid="*">
                <File Id="fil8A5BF835375EE38A6DBDC8DDB0E5EDD1" KeyPath="yes" Source="$(var.IconDir)\edit_bot.png" />
            </Component>
            <Component Id="cmp080B611E9C109C4F87F35DB4F1DA711A" Guid="*">
                <File Id="filB53F470977C5225B58ADB5ABC0305476" KeyPath="yes" Source="$(var.IconDir)\espresso.ico" />
            </Component>
            <Component Id="cmpEC6CA676CB503381335D5633B7C65473" Guid="*">
                <File Id="fil78A06651CB8EE395C61C25B770CD03AA" KeyPath="yes" Source="$(var.IconDir)\Espresso.png" />
            </Component>
            <Component Id="cmp9B8688E8568E74580A1468610D970E55" Guid="*">
                <File Id="fil6C422AE7DB5D3F32D83DD7E63D0DF617" KeyPath="yes" Source="$(var.IconDir)\foldericon.gif" />
            </Component>
            <Component Id="cmp8D8B3F38F9C6700B7D98376E9833E1C7" Guid="*">
                <File Id="fil80AC98D63AB1CE57E66A8B9AF1245904" KeyPath="yes" Source="$(var.IconDir)\folder_small.png" />
            </Component>
            <Component Id="cmp15034E84E012893BA6575B8CA8619044" Guid="*">
                <File Id="fil8125DEAB14856A682F8771C61928CFA0" KeyPath="yes" Source="$(var.IconDir)\get_icons_cdata.m" />
            </Component>
            <Component Id="cmp65C981663409E1A16B8A9151E7FA4EB4" Guid="*">
                <File Id="filB2E1CF0AE46B3BC6EAF4F9ADDE1ADB0D" KeyPath="yes" Source="$(var.IconDir)\greenarrowicon.gif" />
            </Component>
            <Component Id="cmpD585017764840C443DE68F5E3C718FE4" Guid="*">
                <File Id="filC61F9F4221FF0C0A6A716D0660C40890" KeyPath="yes" Source="$(var.IconDir)\greenarrowicon.png" />
            </Component>
            <Component Id="cmpB1922FBF1DF451EC9805DCD2FA4BF117" Guid="*">
                <File Id="fil2D19327FAB236A308A020314B04A1171" KeyPath="yes" Source="$(var.IconDir)\greenarrowicon_d.png" />
            </Component>
            <Component Id="cmp36C6EA9B0C285C8F9678166DE570FF33" Guid="*">
                <File Id="filF7B4BE751EB504439F121373B7B9AF38" KeyPath="yes" Source="$(var.IconDir)\help_gs.png" />
            </Component>
            <Component Id="cmp17113548E886FC5CDEE1A0FFFEBB8FA1" Guid="*">
                <File Id="filCBE7DE2253F66F3FAEFC76D8D146FBD3" KeyPath="yes" Source="$(var.IconDir)\iconRead.m" />
            </Component>
            <Component Id="cmp71920192B34B333B87EC510D22315598" Guid="*">
                <File Id="fil22D67067F038B1C5432A2447D90230DD" KeyPath="yes" Source="$(var.IconDir)\tool_pointer.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="IconFiles">
            <ComponentRef Id="cmpDD0653087BA241FC3212F1B699DC51BC" />
            <ComponentRef Id="cmp080B611E9C109C4F87F35DB4F1DA711A" />
            <ComponentRef Id="cmpEC6CA676CB503381335D5633B7C65473" />
            <ComponentRef Id="cmp9B8688E8568E74580A1468610D970E55" />
            <ComponentRef Id="cmp8D8B3F38F9C6700B7D98376E9833E1C7" />
            <ComponentRef Id="cmp15034E84E012893BA6575B8CA8619044" />
            <ComponentRef Id="cmp65C981663409E1A16B8A9151E7FA4EB4" />
            <ComponentRef Id="cmpD585017764840C443DE68F5E3C718FE4" />
            <ComponentRef Id="cmpB1922FBF1DF451EC9805DCD2FA4BF117" />
            <ComponentRef Id="cmp36C6EA9B0C285C8F9678166DE570FF33" />
            <ComponentRef Id="cmp17113548E886FC5CDEE1A0FFFEBB8FA1" />
            <ComponentRef Id="cmp71920192B34B333B87EC510D22315598" />
        </ComponentGroup>
    </Fragment>
</Wix>